<div class="container">
    <div class="register" style="display: inline-block; vertical-align: top; width: 450px">
        <h1>Register</h1>
        <partial name="UserPartial" />
    </div>
    <div class="login" style="display: inline-block; vertical-align: top; width: 450px">
        <h1>Login</h1>
        <partial name="LoginPartial" />
    </div>
</div>

