<div class="container">
    <div class="login" style="display: inline-block; vertical-align: top; width: 450px">
        <h1>Login</h1>
        <partial name="LoginPartial" />
    </div>
    <div class="login" style="display: inline-block; vertical-align: top; width: 450px"><a href="/">Register</a></div>
</div>